/* UsersComponent's private CSS styles */
.users
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;

.users li
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em;
  height: 60px;
  border-radius: 4px;

.users li:hover
  color: #607D8B;
  background-color: #DDD;
  left: .1em;

.users a
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 300px;

.users a:hover
  color: #607D8B;

.userimg
  vertical-align: middle;
  object-fit: cover;
  object-position: 100% 0;
  width: 60px;
  height: 60px;

.userinfo
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
