<ul class="users">
  <li *ngFor="let user of users">
      <a routerLink="/detail/{{user.userid}}">
        <img class="userimg" src="{{user.owner.foto}} " />
        <span class="userinfo">{{user.owner.name}} {{user.owner.surname}} - {{user.vehicles.length}} vehicle(s)</span>
      </a>
  </li>
</ul>
