/* VehicleMapComponent's private CSS styles */
h2 
  font-size: 1.2em;
  margin: .5em;
  color: #999;

.vehicles
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 35em;

.vehicles li
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em;
  height: 60px;
  border-radius: 4px;

.vehicles li:hover
  color: #607D8B;
  background-color: #DDD;
  left: .1em;

.vehicles a
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 600px;

.vehicles a:hover
  color: #607D8B;

.vehiclesimg
  vertical-align: middle;
  object-fit: cover;
  object-position: 100% 0;
  width: 60px;
  height: 60px;

.vehiclesinfo
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

.map
  margin: .5em;
