<div>
  <ul *ngIf="user" class="vehicles">
    <h2>{{user.owner.name | uppercase}} {{user.owner.surname | uppercase}}</h2>
    <li *ngFor="let vehicle of vehicles">
        <a (click)="setCenter(vehicle.vehicleid)" >
          <img class="vehiclesimg" src="{{vehicle.foto}}" />
          <span class="vehiclesinfo">{{vehicle.make}} - {{vehicle.model}} - {{vehicle.year}} - {{vehicle.vin}}</span>
        </a>
    </li>
  </ul>
  <div class="map" #gmap style="width:90%;height:400px" ></div>
</div>