/* You can add global styles to this file, and also import other style files */

.tooltip
  margin: 0.5em;
  padding: 0;
  width: 20em;
  height: 20em;

.tooltip img
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em;
  height: 15em;
  border-radius: 4px;

.tooltip div
  margin: 0.2em;
